@media only screen and (max-width: 768px){
    .header {
        padding-top: 64px;
    }
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }
    .site-hero__content {
        flex-direction: column;
        text-align: center;
        row-gap: 24px;
    }
    .site-desc::before{
        display: none;
    }
    .site-hero::before {
        display: none;
    }
    .site-title  {
        font-size: 64px;
        line-height: 56px
    }
    .site-desc {
        font-size: 15px;
        max-width: 457px;
        
    }
    .site-hero__image {
        right: 25%;
        
    }
} 

@media only screen and (max-width: 576px){

} 