:root {
    --Midnight-Green: #014E56;
    --Light-Coral: #F67E7E;
    --White: #fff;
    --Rapture-Blue: #79C8C7;
    --Police-Blue: #2C6269;
    --Deep-Jungle-Green: #004047;
    --Sacramento-State-Green: #012F34;
    --Dark-Green: #002529;
    --Livvic: "Livvic";

}
@media only screen and (max-width: 768px){
    .header {
        padding-top: 64px;
    }
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }
    .site-hero__content {
        flex-direction: column;
        text-align: center;
        row-gap: 24px;
    }
    .site-desc::before{
        display: none;
    }
    .site-hero::before {
        display: none;
    }
    .site-title  {
        font-size: 64px;
        line-height: 56px
    }
    .site-desc {
        font-size: 15px;
        max-width: 457px;
        
    }
    .site-hero__image {
        right: 25%;
        
    }

    /* why */
    .why-content {
        flex-direction: column;
        row-gap: 64px;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .why-headline {
        font-size: 32px;
        line-height: 32px; 
    }
    .why-image {
        top: 0;
    }
    .why-desc__text {
        max-width: 478px;
        width: 100%;
    }
    /* why */

    /* team */
    .team {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .team-headline {
        font-size: 32px;
        line-height: 32px;
        max-width: 573px;
        width: 100%;
    }
    .team-content {
        flex-direction: column;
        align-items: center;
        row-gap: 48px;
    }
    .team-card {
        max-width: 573px;
    }
    /* team */

    /* contact */
    .contact-content {
        max-width: 570px;
        width: 100%;
    }
    .contact-headline {
        font-size: 32px;
        line-height: 32px;
    }
    .contact-bottom__image {
        bottom: -20px;
    }
    /* contact */
} 

@media only screen and (max-width: 576px){
    .header {
        padding-top: 56px;
    }
    .container {
        padding-left: 24px;
        padding-right: 24px;
    }
    .logo {
        max-width: 128px;
        width: 100%;
        height: 32px;
    }
    .nav {
        position: absolute;
        right: -255px;
        top: 0;
        width: 255px;
        height: 100vh;
        background-color: var(--Police-Blue);
        z-index: 100;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 48px;
        row-gap: 36px;
        padding-top: 112px;
        overflow: hidden;
    }
    .nav-list {
        flex-direction: column;
        row-gap: 24px;
    }
    .header-bars {
        width: 20px;
       display: flex;
       flex-direction: column;
       row-gap: 4px;
    }
    .bar-line {
        width: 100%;
        height: 3px;
        background-color: var(--White);
    }
    .close-icon {
        position: absolute;
        top: 56px;
        right: 25px;
        display: block;
    }
    .menu-image {
        position: absolute;
        right: -100px;
        bottom: 0;
    }
    .menu-image {
        display: block;
    }

    /* why */
    .why-content {
        padding-top: 64px;
        padding-bottom: 64px;
    }
    .why-headline {
        max-width: 240px;
        width: 100%;
    }
    .why-item {
        flex-direction: column;
        row-gap: 16px;
        align-items: center;
    }
    .why-icon {
        width: 72px;
        height: 72px;

    }
    .why-desc {
        row-gap: 8px;
    }
    .why-desc__name {
        text-align: center;
    }
    .why-desc__text {
      text-align: center;
      font: 15px;
      max-width: 327px;
      width: 100%;
    }
    /* why */

    /* team */
    .team {
        padding-top: 140px;
        padding-bottom: 140px;
    }
    /* team */

    /* contact */
    .contact-content {
        flex-direction: column;
        row-gap: 24px;
    }
    .contact-headline {
        max-width: 327px;
        width: 100%;
        text-align: center;
    }
    .contact-bottom__image {
        bottom: -25px;
    }
    /* contact */
   
} 