@import url(./fonts.css);

/* DESIGN SYSTEM */

:root {
    --Midnight-Green: #014E56;
    --Light-Coral: #F67E7E;
    --White: #fff;
    --Rapture-Blue: #79C8C7;
    --Police-Blue: #2C6269;
    --Deep-Jungle-Green: #004047;
    --Sacramento-State-Green: #012F34;
    --Dark-Green: #002529;
    --Livvic: "Livvic";

}

/* GLOBAL STYLE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1158px;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    margin: auto;
}

/* BTN */

.btn {
    display: inline-block;
    padding: 10px 32px;
    border-radius: 24px;
    background-color: transparent;
    color: var(--White);
    font-family: var(--Livvic);
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-transform: lowercase;
    border: 2px solid var(--White);
    transition: .4s;


}
.btn:hover {
    background-color: var(--White);
    color: var(--Dark-Green);
}
.btn:active {
    opacity: .25;
    background-color: transparent;
    color: var(--White);
}


body {
    background-color: var(--Midnight-Green);
    font-family: var(--Livvic);
    overflow: hidden;
}

.site-header-hero {
    height: 700px;
    overflow: hidden;
}
/* HEADER */

.header {
    padding-top: 73px;
    overflow-x: hidden;
}
.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav {
    display: flex;
    column-gap: 80px;
    align-items: center;
    transition: .5s;
}
.nav-list {
    display: flex;
    column-gap: 40px;

}
.nav-link {
    color: var(--White);
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

.close-icon {
    display: none;
}
.menu-image {
    display: none;
}

/* SITE-HERO */


.site-hero__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 129px;
}

.site-title {
    font-size: 100px;
    font-weight: 700;
    line-height: 100px;
    color: var(--White);
   
}
.title-active {
    color: var(--Light-Coral);
}
.site-desc {
    max-width: 445px;
    width: 100%;
    color: var(--White);
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    display: flex;
    flex-direction: column;
    row-gap: 79px;

}

.site-desc::before{
    content: "";
    display: block;
    width: 50px;
    height: 4px;
    background-color: var(--Rapture-Blue);
}
.position-realtive {
    position: relative;
    height: 85vh;
}
.site-hero::before{
    content: url(../assets/bg-pattern-home-1.svg);
    position: absolute;
    top: 35%;
    left: -7%;
   
}

.site-hero__image {
    position: absolute;
    right: 0;
    bottom: 35px;
}

/* SITE-HERO */

/* WHY */

.why {
    background-color: var(--Sacramento-State-Green);
    position: relative;
    overflow: hidden;
    
}
.why-image {
    position: absolute;
    right: -100px;
    bottom: 0;
}
.why-content {
    display: flex;
    justify-content: space-between;
    padding-top: 140px;
    padding-bottom: 140px;
}
.why-headline {
    color: var(--White);
    max-width: 445px;
    width: 100%;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    display: flex;
    row-gap: 54px;
    flex-direction: column;
}
.why-headline::before{
    content: "";
    display: block;
    width: 50px;
    height: 4px;
    background-color: var(--Light-Coral);
}

.why-body {
    display: flex;
    flex-direction: column;
    row-gap: 32px;

}
.why-item {
    display: flex;
    column-gap: 23px;
   
}
.why-icon {
    object-fit: contain;
}

.why-desc {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.why-desc__name {
    color: var(--Light-Coral);
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}
.why-desc__text {
    max-width: 445px;
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    color: var(--White);
    opacity: .8;
}
/* WHY */

/* TEAM */
.team {
    padding-top: 140px;
    padding-bottom: 140px;
    position: relative;
    background-color: var(--Deep-Jungle-Green);
}
.team-image {
    position: absolute;
    top: 0;
    left: 0;
}

.team-headline {
    color: var(--White);
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    max-width: 932px;
    width: 100%;
    margin: 0 auto 56px;
}
.headline-active {
    color: var(--Rapture-Blue);
}
.team-content {
    display: flex;
    column-gap: 30px;
}
.team-card {
    max-width: 350px;
    width: 100%;
}
.team-about {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    color: var(--White);
    z-index: 22;

}
.team-about::before{
    content: url(../assets/icon-quotes.svg);
    display: block;
    transform: translateY(24px);
    z-index: -10;
}

.team-user__name {
    color: var(--Rapture-Blue);
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    line-height: 28px;
    margin-top: 24px;
}

.team-user__job {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    color: var(--White);
}

.team-user__ava {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #C4FFFE;
    margin: 32px auto 0;
}
.user-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.team-bottom__image {
    position: absolute;
    right: 0;
    bottom: 0;
}
/* TEAM */

/* CONTACT */
.contact {
    background-color: var(--Light-Coral);
    padding-top: 76px;
    padding-bottom: 76px;
    position: relative;
    overflow: hidden;
}
.contact-btn {
    border-color: var(--Dark-Green);
    color: var(--Dark-Green);
}
.contact-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 920px;
    width: 100%;
    margin: auto;
}
.contact-headline {
    color: var(--Dark-Green);
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
}
.contact-bottom__image {
    position: absolute;
    left: 0;
    bottom: 0;
}
/* CONTACT */
