@import url(./fonts.css);

/* DESIGN SYSTEM */

:root {
    --Midnight-Green: #014E56;
    --Light-Coral: #F67E7E;
    --White: #fff;
    --Rapture-Blue: #79C8C7;
    --Police-Blue: #2C6269;
    --Deep-Jungle-Green: #004047;
    --Sacramento-State-Green: #012F34;
    --Dark-Green: #002529;
    --Livvic: "Livvic";

}

/* GLOBAL STYLE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1158px;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    margin: auto;
}

/* BTN */

.btn {
    display: inline-block;
    padding: 10px 32px;
    border-radius: 24px;
    background-color: var(--Midnight-Green);
    color: var(--White);
    font-family: var(--Livvic);
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-transform: lowercase;
    border: 2px solid var(--White);
    transition: .4s;


}
.btn:hover {
    background-color: var(--White);
    color: var(--Dark-Green);
}
.btn:active {
    opacity: .25;
    background-color: transparent;
    color: var(--White);
}


body {
    background-color: var(--Midnight-Green);
    font-family: var(--Livvic);
}

.site-header-hero {
    height: 100vh;
}
/* HEADER */

.header {
    padding-top: 73px;
}
.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav {
    display: flex;
    column-gap: 80px;
    align-items: center;
}
.nav-list {
    display: flex;
    column-gap: 40px;

}
.nav-link {
    color: var(--White);
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

/* SITE-HERO */


.site-hero__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 129px;
}

.site-title {
    font-size: 100px;
    font-weight: 700;
    line-height: 100px;
    color: var(--White);
   
}
.title-active {
    color: var(--Light-Coral);
}
.site-desc {
    max-width: 445px;
    width: 100%;
    color: var(--White);
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;

}
.position-realtive {
    position: relative;
    height: 85vh;
}

.site-hero__image {
    position: absolute;
    right: 0;
    bottom: 0;
}
/* SITE-HERO */
